extends ./layouts/_base.pug

block page
  - const page = 'index';

block content
  section.banner 
    .bannerContainer
      .swiper.bannerSwiper
        .swiper-wrapper 
          .swiper-slide 
            .inner(data-align="center-left")
              img.swiper-lazy(data-src='./assets/img/page1-1.jpg')
              .bannerContent1
                h2 Find your way
                h4 從內而外展現自我
          .swiper-slide
            .inner(data-align="center-center")
              img.swiper-lazy(data-src='./assets/img/page1-1.jpg')
              .bannerContent2
                h2 Find your way
                h4 從內而外展現自我
          .swiper-slide 
            .inner(data-align="center-right")
              img.swiper-lazy(data-src='./assets/img/page1-1.jpg')
              .bannerContent3 
                h2 Find your way
                h4 從內而外展現自我
          .swiper-slide 
            .inner(data-align="bottom-left")
              img.swiper-lazy(data-src='./assets/img/page1-1.jpg')
              .bannerContent4 
                h2 Find your way
                h4 從內而外展現自我
          .swiper-slide 
            .inner(data-align="bottom-center")
              img.swiper-lazy(data-src='./assets/img/page1-1.jpg')
              .bannerContent5 
                h2 Find your way
                h4 從內而外展現自我
          .swiper-slide 
            .inner(data-align="bottom-right")
              img.swiper-lazy(data-src='./assets/img/page1-1.jpg')
              .bannerContent6 
                h2 Find your way
                h4 從內而外展現自我
        .swiper-pagination
    .scroll
      p scroll
      span
    
  section.news 
    a.newsLeft(href="javascript:;")
      .newsLeftContainer
        .newsLeftLeft
          h4 活動/優惠，不容錯過
          h4.newsLeftText Latest News
        .newsLeftRight
          .newsDate 
            p.newsDay 25
            p.newsMonth Jan 
          .newsContent 女力召集 - 三月一日起號召各位女神站出來
          .moreBtn More
    a.newsRight(href="javascript:;")
      .newsRightContainer
        .newsRightLeft
          p.icon-address
        .newsRightCenter
          h4 尋找健身工廠
          h4.newsRightText Find A Location
        .newsRightRight
          p.icon-arrow-right
  
  section.course  
    .courseContainer 
      .courseLeft 
        .bg-wrap
          img.bg1.lazy(data-src="./assets/img/horizontal swiper-1.jpg")
          img.bg2.lazy(data-src="./assets/img/horizontal swiper-1.jpg")
          img.bg3.lazy(data-src="./assets/img/horizontal swiper-1.jpg")
        .couseSwiper
          .swiper
            .swiper-wrapper
              .swiper-slide
                .inner
                  h4 Passion 
                  p 擁有專業的師資團隊
              .swiper-slide
                .inner
                  h4 Passion
                  p 擁有專業的師資團隊
              .swiper-slide
                .inner
                  h4 Passion
                  p 擁有專業的師資團隊
      .courseRight 
        .courseRightContainer 
          .courseTop
            h3 Personal Trainer
            h5 選擇你的第一個專屬私人教練！
            p 很多人熱愛健身， 卻擔心自己沒經驗，如果你有這樣的想法，就選擇健身工廠吧！
          .category-course
            .category-slider
              .wrapper
                .item.active
                  a.category(href="javascript:;") 營養諮詢
                .item
                  a.category(href="javascript:;") 改善體態
                .item
                  a.category(href="javascript:;") 減輕壓力
                .item
                  a.category(href="javascript:;") 減脂增肌
          .courseButtom
            .courseBtn
              p.courseBtn More
      .courseButtomRWD
        .courseBtn
          p.courseBtn More
  
  section.course2 
    .container
      .course2Left 
        .leftbox
          .course2leftTop 
            h4 Get moving!<br/>Fitness
            h5 尋找適合你的健身課程
            h6 減輕您多餘的體重，降低您身體的負擔，讓你的全身進行雕塑，打造完美動人曲線，快來運動健身吧 
          .category-course2
            .category-slider
              .wrapper
                .item.active
                  a.category(href="javascript:;") 新手入門
                .item
                  a.category(href="javascript:;") 健身狂人
                .item
                  a.category(href="javascript:;") 改善身型
          .courseBtn 
            p More
      .course2right
        .rightbox
          .imgContainer
            a(href="javascript:;") 
              .imgbox
                .imgWrap
                  img.lazy(data-src="./assets/img/page4-1_500x500.jpg")
              .imgText
                h4 Force1
                p 全能格鬥
          .imgContainer
            a(href="javascript:;") 
              .imgbox
                .imgWrap
                  img.lazy(data-src="./assets/img/page4-2_500x500.jpg")
              .imgText
                h4 Force2
                p 全能格鬥
          .imgContainer
            a(href="javascript:;") 
              .imgbox
                .imgWrap
                  img.lazy(data-src="./assets/img/page4-3_500x500.jpg")
              .imgText
                h4 Force3
                p 全能格鬥
          .imgContainer
            a(href="javascript:;") 
              .imgbox
                .imgWrap
                  img.lazy(data-src="./assets/img/page4-4_500x500.jpg")
              .imgText
                h4 Force4
                p 全能格鬥   
      .courseBtnRWD 
          p More      
  
  section.article
    .container 
      .articleTop  
        .left
          h4 Fitness Knowledge
        .center 
          .centerTop 
            h5 讓專業的來！用正確的觀點學習運動
            p 健康的運動，有效的運動，宣導正確運動觀念與日常生活相互結合
          .centerButtom
            .category-article
              .category-slider
                .wrapper
                  .item.active
                    a.category(href="javascript:;") 飲食控管
                  .item
                    a.category(href="javascript:;") 有氧瑜珈
                  .item
                    a.category(href="javascript:;") 運動健身
                  .item
                    a.category(href="javascript:;") 健身器材
        .right                                             
          .moreBtn 
            p More
      .articleButtom
        .left
          .topArticle
            .articleContainer
              a.imgContainer(href="javascript:;")
                .imgBox
                  .imgWrap
                    img.articalImg(src="./assets/img/article3_370x270.jpg")
                  .hoverText
                    .hoverWrap
                      h4 introduce
                      p 健身常常會把重量壓在自己身上達到更顯著的效果，需確保每組動作和姿勢正確才能訓練...
                .textContainer
                  .text(data-align="left")
                    p 
                  .text(data-align="center")
                    p 飲食控管
                    .viewed 
                      p Viewed
                      p 765
                  .text(data-align="right")
                    p 
              .articalTitle 
                h4 穀物片適合當早餐？高糖要注意！
              .classification
                .textbox
                  .inner 
                    h6 Classification
                    p 飲食控管
                  .viewNum
                    h6 Viewed
                    p 258  
          .buttomArticle
            .articleContainer
              a.imgContainer(href="javascript:;")
                .imgBox
                  .imgWrap
                    img.articalImg(src="./assets/img/article2_370x270.jpg")
                  .hoverText
                    .hoverWrap
                      h4 introduce
                      p 健身常常會把重量壓在自己身上達到更顯著的效果，需確保每組動作和姿勢正確才能訓練...
                .textContainer
                  .text(data-align="left")
                    p 
                  .text(data-align="center")
                    p 
                  .text(data-align="right")
                    p 瑜珈相關 
                    .viewed 
                      p Viewed
                      p 765
              .articalTitle 
                h4 空中瑜伽與有氧運動的差異
              .classification
                .textbox
                  .inner 
                    h6 Classification
                    p 瑜珈相關
                  .viewNum
                    h6 Viewed
                    p 809                  
        .right
          .articalContainer
            a.imgContainer(href="javascript:;")
              .imgBox
                .imgWrap
                  img.articalImg(src="./assets/img/article1_926x621.jpg")
                .hoverText
                  .hoverWrap
                    h4 introduce
                    p 健身常常會把重量壓在自己身上達到更顯著的效果，需確保每組動作和姿勢正確才能訓練相關肌肉...
                    .playBtn 
                      p.icon-play_icon 
                      p play video
              .viewed 
                .viewedBox
                  h5 1258
                  p viewed 
            .titleContainer
              .articalTitle 
                h4 入門必看 ! 健身新手一定要知道的5大法則 !
              .classification
                h6 Classification
                p 新手健身 
      .moreBtnRWD
        p More

  section.shop
    .container 
      .left
        .leftContainer
          a.imgContainer(href="javascript:;")
            .imgWrap
              .imgbox
                img.lazy(data-src="./assets/img/page6-1_640x320.jpg") 
            .contentContainer
              .leftContainer(data-align="left")
                h4.en-title Online Store
                h4.ch-title 男裝服飾
                p 這邊可以放簡述文字，限制兩行，也可隱藏文字....
                p.plusBtn +
                
      .center
        .centerContainer
          a.imgContainer(href="javascript:;")
            .imgWrap
              .imgbox
                img.lazy(data-src="./assets/img/page6-2_640x320.jpg") 
            .contentContainer
              .centerContainer(data-align="center")
                h4.en-title Online Store
                h4.ch-title 男裝服飾
                p 這邊可以放簡述文字，限制兩行，也可隱藏文字....
                p +
      .right
        .rightContainer
          a.imgContainer(href="javascript:;")
            .imgWrap
              .imgbox
                img.lazy(data-src="./assets/img/page6-3_640x320.jpg") 
            .contentContainer
              .rightContainer(data-align="right")
                h4.en-title Online Store
                h4.ch-title 女裝服飾
                p 這邊可以放簡述文字，限制兩行，也可隱藏文字....
                p +

  section.location
    .section-bg
      picture
        // 電腦版
        source(data-srcset="./assets/img/page7.png" media="(min-width: 1000px)")
        // 手機版
        img.lazy(data-src="./assets/img/page7RWD.jpg")
    .container
      .innerContainer
        .left 
          .content
            .header 
              h5 57
            .title 
              p.memberNum 2000
              p 在任何地方都可以健身，尋找離你最近的據點
            .text
              p 「健身工廠」為亞洲及台灣首家通過並榮獲SGS Qualicert 國際服務驗證標章之健身品牌，至今規模在台灣擁有57的服務據點，讓你可以在任何地點健身運動
            .selectContainer 
              form.wdd-form
                .form-row
                  .form-grid
                    .form-group.required
                      .form-select.city(form-field="placeA" field-type="isSelect" data-default="請選擇縣/市" select-type="single")
                        .selected 縣市
                        span.arrow-icon
                        .dropdown
                          .dropdown-scrollbar(data-scrollbar-content="")
                            ul
                      .form-select.dist.disabled(form-field="placeB" field-type="isSelect" data-default="請選擇地區" select-type="single")
                        .selected 市區
                        span.arrow-icon
                        .dropdown
                          .dropdown-scrollbar(data-scrollbar-content="")
                            ul
              .search 
                p.icon-searcher 
        .right
          .content 
            h5 COOMING SOON 
            .countDown(data-countdown="2022-6-10") 
              .day 
                .text
                  h4#countDay  
                  p Day 
              .hours 
                .text
                  h4#countHour
                  p Hours
              .min 
                .text
                  h4#countMin 
                  p Min
              .sec 
                .text
                  h4#countSec 
                  p Sec

          .spotInfo
            .spotName 台中 福科場
            .address 
              p 台中市西屯區福裕路111號
              p +886 4 22587456
          .category-spot
            .swiper.spotSwiper
              .swiper-wrapper
                .swiper-slide.active
                  a.item(href="javascript:;")
                    p.top Coming Soon
                    p 新北 蘆洲廠
                .swiper-slide
                  a.item(href="javascript:;")
                    p.top 2.15 開始預售
                    p 新北 龍安廠
                .swiper-slide
                  a.item(href="javascript:;")
                    p.top Coming Soon
                    p 台中 福科廠
                .swiper-slide
                  a.item(href="javascript:;")
                    p.top Coming Soon
                    p 新北 林口廠
                .swiper-slide
                  a.item(href="javascript:;")
                    p.top Coming Soon
                    p 台南 崇明廠
          .spot-pagination
  
  section.promotion 
    .container
      .left 
        .leftbox
          .date
            h4 7
            h6 DAY 
          .trail
              h4 Free Trial
              h5 7天免費健身體驗
              p 擁有各式頂級健身、複合式心肺有氧以及專業阻力訓練器材。擁有健康美好身材就從現在開始！
              a(href="javascript:;") 立即索取免費體驗資格 
      .right  
        .rightbox
          .pic
            .imgbox
              img.lazy(data-src="./assets/img/page8-1.png")  
          .content
            .text
              h4 Download APP
              h5 會員專屬APP，讓你隨時掌握
              p 提供健身工廠會員們最便利的全方位 app，完整紀錄每日的運動訓練細節、飲食內容、身體數據變化
              a(href="javascript:;") 前往下載APP
            .download 
              .imgbox
                img.lazy(data-src="./assets/img/page8-2.png")
              .imgbox
                img.lazy(data-src="./assets/img/page8-3.png")

         
      
        
          
            
  

