.lightbox-inner
  .modal-scroll-wrap
    .modal-contain
      .modal-dialog
        .close-btn.ajax_close
          span
        .modal-content
          .video-box.onPage.video4-cover(video-id="zBU4R1Jm46k" video-player-playtype="auto" video-player-type="onPage" video-type="youtubeAPI")
            // 影片封面圖
            img(src="" alt="video-cover")
            .overlay
            .playButton