footer
  .footerContainer
    .footerTop
      .footerTopleft
      .footerTopCenter
        .footerCenterTop
          .urlbox
            a.url(href="javascript:;") 
              p.en SERVICE
              p.ch 服務項目
          .urlbox
            a.url(href="javascript:;") 
              p.en TRAFFIC
              p.ch 交通資訊
          .urlbox
            a.url(href="javascript:;") 
              p.en STORES
              p.ch 購物中心
          .urlbox
            a.url(href="javascript:;") 
              p.en MEMBER
              p.ch 會員中心
          .urlbox
            a.url(href="javascript:;") 
              p.en CONTACT
              p.ch 聯絡我們
        .footerCenterButtom
          .urlbox
            a.footerURL(href="javascript:;") 關於我們
          .urlbox
            a.footerURL(href="javascript:;") 常見問題
          .urlbox
            a.footerURL(href="javascript:;") 聯絡我們
          .urlbox
            a.footerURL(href="javascript:;") 人才招募
          .urlbox
            a.footerURL(href="javascript:;") 隱私權保護政策 
          .urlbox
            a.footerURL(href="javascript:;") 使用條款
          .urlbox
            a(href="javascript:;") 會員信託查詢
      .footerTopStatic.anchor-btn
        p TOP
    .footerButttom
      .footerButtomLeft
        p 首家上市運動健身中心
        .category-footer
          .category-slider
            .wrapper
              .item.active
                img(src="./assets/img/footerLogo1.png")
              .item
                img(src="./assets/img/footerLogo2.png")
              .item
                img(src="./assets/img/footerLogo3.png")
              .item
                img(src="./assets/img/footerLogo4.png")
              .item
                img(src="./assets/img/footerLogo5.png")
      .footerButtomRight
        .footerIcon 
          a.icon-fb-circle(href="javascript:;")
          a.icon-ig(href="javascript:;")
          a.icon-youtube(href="javascript:;")
          a.icon-line(href="javascript:;")
