nav.main-nav
  .navContainer
    .navLeft
      a.icon-language(href="javascript:;")
      a.icon-searcher(href="javascript:;")
      .navBorder
      .navMember
        a.icon-member(href="javascript:;")
        a.text(href="javascript:;") 會員註冊 
      a.navclass(href="") CLASS 課表查詢
      a.navReservation(href="") RESERVATION 預約體驗
    .navRight
      a.navleft01(href="javascript:;") 健身課程
      a.navleft02(href="javascript:;") 最近的運動地點
      a.navleft03(href="javascript:;") 前往購物商城
      .navMenu
        .menuBorder1
        .menuBorder2
        .menuBorder3

